@import "./src/fonts/fonts";


.modulesWrapper {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
  @media screen and(max-width: 1023px) {
    flex-wrap: wrap;
  }
  @media screen and(max-width: 570px) {
    margin-top: 0;
  }
}


