@import "./src/fonts/fonts";

.App {
  font-family: "StyreneAWeb";
  border: 2px solid red;
  position: relative;
  min-height: 100vh;
  background: #FFFFFF;

  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid red;
    margin: 0 calc(240 / 1920 * 100%);

    .header {
      display: flex;
      justify-content: center;
      //margin-top: 71px;
      //margin-right: 420px;
      border: 2px solid red;

      span {
        font-weight: 700;
        //font-size: 36px;
        line-height: 43.2px;
      }
    }
    .program {

    }
  }
}